@import "tailwindcss";
html,
body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

.background-image {
  background-image: url("/images/bg.webp");
}

:root {
  --color-basic: #39ff14;
  --color-second: #0bec7c22;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: white;
}

/* header {
  background-color: rgb(255 255 255 / 40%);
  border-radius: 10px;
  border: 1px solid white;
} */

.sub-menu a.sub-nav-menu {
  width: 300px;
  text-align: left;
}

.content-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 150px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  align-items: center;
}

.hero-section a {
  min-width: 139px !important;
  width: 100%;
  text-align: center;
}

.hero-section .buttons-wrapper {
  gap: 15px;
}

.content-section {
  width: 55%;
  border-radius: 17.32px;
  padding: 15.16px 21.65px;
}

.gradient-background {
  background-color: #ff000000; /* For browsers that do not support gradients */
  background-image: linear-gradient(#ffffff3d, #9999990a);
}

.left-gradient-background {
  background-color: #ff000000; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #ffffff3d, #9999990a);
}

.content-section h1 {
  font-weight: 900;
  color: #c3f8d9;
  font-size: 51.97px;
  line-height: 60px;
}

.content-section p {
  margin-top: 20px;
  font-weight: 400;
  color: #ffffff;
  font-size: 34.65px;
  line-height: 40px;
  width: 90%;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.buttons-wrapper a,
.button {
  padding: 10px 20px;
  background-color: #ffffff52;
  border-radius: 100px;
  color: white;
  font-size: 19.49px;
  font-weight: 700;
  box-shadow: rgb(255 255 255 / 74%) 0px 10px 10px -10px;
  cursor: pointer;
}

.button {
  min-width: 240px;
  text-align: center;
}

.ServicesCardsWrapper {
  margin-top: 100px;
}

.ServicesCardsHeading {
  padding: 5px 18px;
  border-radius: 16px;
}

.ServicesCardsHeading h2 {
  font-size: 40px;
  font-weight: 700;
}

.ServicesCardsContent {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.ServicesCardsContent .service-card-wrap {
  width: 32%;
  border-radius: 16px;
  border: 1px solid #ffffff66;
  backdrop-filter: blur(15px);
  margin-top: 2%;
}

.ServicesCardsContent img {
  width: 204px;
}

.ServicesCardsContent .heading,
.whyCHooseUsWrapper .heading {
  font-size: 24px;
  color: #edf5f4;
  font-weight: 700;
}

.ServicesCardsContent .description,
.service-card-wrap .content-description {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
}

.image-button-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.image-button-wrap a {
  display: flex;
  align-items: center;
  width: 31%;
  /* margin-left: -10px; */
  justify-content: flex-end;
}

span.buuttonIcon {
  width: 30%;
}

span.buuttonIcon svg {
  width: 80px;
}

span.buttonText {
  width: 37%;
  font-size: 16px;
  font-weight: 900;
}

.whyCHooseUsWrapper {
  margin-top: 100px;
}

.whyChooseUsHeading {
  padding: 5px 18px;
  border-radius: 16px;
}

.whyChooseUsHeading h2 {
  font-size: 40px;
  font-weight: 700;
}

.whyChooseUsCardContents {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(15px);
  border-radius: 16px;
  border: 1px solid #ffffff66;
  padding: 14px 16px;
  margin-top: 2%;
}

.cardWrappers {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.ImageWrapper img {
  width: 100% !important;
}

.cardWrappers .service-card-wrap {
  width: 32%;
  border-radius: 16px;
  border: 1px solid #ffffff66;
  backdrop-filter: blur(15px);
  margin-top: 2%;
}

.cardWrappers svg {
  margin-left: -15px;
}

p.wcu-heading .heading-1 {
  font-size: 24px;
  font-weight: 700;
}

p.wcu-heading .heading-2 {
  font-size: 18px;
  font-weight: 400;
}

.ImageWrapper {
  position: relative;
}

.cardsTags {
  position: absolute;
  top: 15px;
  right: 15px;
  gap: 5px;
  display: flex;
  align-items: center;
}

.cardsTags span.card-tag {
  font-weight: 500;
  background: white;
  border-radius: 3px;
  padding: 0px 8px;
  color: #3f3f3f;
  font-size: 13px;
}

.industriesServeMainWrapper {
  margin-top: 100px;
}

.is-heading {
  padding: 5px 18px;
  border-radius: 16px;
}

.is-heading h2 {
  font-size: 40px;
  font-weight: 700;
}

.is-heading h3 {
  font-size: 30px;
  font-weight: 700;
}

.isContent {
  /* display: flex; */
  flex-direction: column;
  backdrop-filter: blur(15px);
  border-radius: 16px;
  border: 1px solid #ffffff66;
  padding: 14px 16px;
  margin-top: 2%;
}

.itemsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.industriesServeMainWrapper .buttons-wrapper {
  justify-content: center;
  gap: 5% !important;
}

a {
  min-width: 240px;
  text-align: center;
}

.StillThinkingMainWrapper {
  margin-top: 100px;
}

.st-heading {
  padding: 5px 18px;
  border-radius: 16px;
}

.st-heading h2 {
  font-size: 40px;
  font-weight: 700;
}

.stContent {
  /* display: flex; */
  flex-direction: column;
  backdrop-filter: blur(15px);
  border-radius: 16px;
  border: 1px solid #ffffff66;
  padding: 14px 16px;
  margin-top: 2%;
}

.stContent p.heading-1 {
  font-size: 32px;
  font-weight: 700;
}

.stContent p.content {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  width: 94%;
}

.link-text {
  color: #00ff38;
}

.stContent .buttons-wrapper {
  justify-content: center;
}

.whyChooseUsCardContents a {
  text-align: left;
}

.whyChooseUsCardContents .content-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.headerWrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px 0px;
}

.logoWrapper {
  width: 18%;
}

.logoWrapper img {
  width: 90%;
}

.menuWrapper a {
  width: 10px;
}

.navBar {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.searchLangWrapper {
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.searchWrapper {
  display: flex;
  border: 1px solid #00ff38;
  border-radius: 71px;
  padding: 10px 15px;
}

.searchWrapper input {
  outline: none;
  padding-left: 10px;
}

.searchWrapper input {
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.searchWrapper input::placeholder {
  opacity: 1 !important;
  color: white;
}

.mainFlagImage {
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  width: 45px;
  aspect-ratio: 3 / 2;
}

.menuWrapper {
  width: 68%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuWrapper .nav-menu {
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}

.menuWrapper .active {
  color: #39ff14;
  border: 1px solid #39ff14;
  border-radius: 10px;
}

.sub-nav-menu.active {
  color: #39ff14;
  border: 1px solid #39ff14;
  border-radius: 10px;
  padding: 10px 15px;
}

.menuWrapper .nav-menu:hover {
  color: #39ff14;
}

.menuWrapper .sub-nav-menu:hover {
  color: #39ff14;
}

.searchLangWrapper svg {
  width: 30px !important;
  height: 30px !important;
}

.neon-green {
  color: #39ff14 !important;
}

.footer {
  margin-top: 100px;
  padding: 50px 0px;
}

.footerWrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerWrapper .section1 {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.footerWrapper .section2 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.footerWrapper .logoWrapper {
  width: 25%;
}

.footerWrapper .contentWrapper {
  width: 45%;
}

.footerWrapper .contentWrapper p {
  font-size: 15px;
  font-weight: 400;
}

.contactWrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}

.sales,
.support {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
}

.mobileMenuWrapper {
  display: flex;
  gap: 50px;
}

.mobileLinks {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.mobileLinks a {
  text-align: left;
  min-width: 77px;
  font-size: 16px;
  font-weight: 700;
}

.socialIconsWrapper {
  display: flex;
  align-items: center;
}

.socialIconsWrapper p {
  font-size: 18px;
  font-weight: 600;
}

.socialIconsWrapper .icons {
  display: flex;
  align-items: center;
  min-width: 33px;
  gap: 10px;
}

.socialIconsWrapper .icons a {
  min-width: 33px;
}

.itemsWrapper ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.itemsWrapper ul li {
  background-color: #4966552e;
  border: 1px solid #ffffff66;
  padding: 14px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 12px;
  margin-top: 1%;
  min-width: 200px;
  text-align: center;
}

.itemsWrapper ul li:hover {
  transform: scale(1.05);
}

.itemsWrapper1 ul li:hover {
  transform: scale(1.02);
}
/* 
.arrow path {
  opacity: 0;
  animation: flashIn 1.8s infinite;
}

.arrow path:nth-child(3) {
  animation-delay: 0s; 
}

.arrow path:nth-child(2) {
  animation-delay: 0.3s;
}

.arrow path:nth-child(1) {
  animation-delay: 0.6s;
} */

.arrow {
  position: relative;
  width: 100px; /* Adjust to match image size */
  height: auto;
  display: flex;
}

.arrow img {
  width: auto !important;
  height: 35px !important;
}

.arrow-layer {
  /* position: absolute; */
  top: 0;
  left: 0;
  opacity: 0;
  animation: flashIn 1.8s infinite;
}

.layer-3 {
  animation-delay: 0.6s;
}
.layer-2 {
  animation-delay: 0.3s;
}
.layer-1 {
  animation-delay: 0s;
}

.layer-2,
.layer-3 {
  margin-left: -9px;
}

@keyframes flashIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.subMenuWrapper {
  left: 0px;
  top: 35px;
  z-index: 99999;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(15px);
  opacity: 0;
  visibility: hidden;
  background-color: #191616d6;
  border-radius: 10px;
}

.nav_menu_wrapper:hover .subMenuWrapper {
  opacity: 1;
  visibility: visible;
}

.sub-menu {
  width: 343px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ffffff66;
}

.sub-menu {
  padding: 20px;
}

.sub-menu .sub-nav-menu {
  font-size: 14px;
  font-weight: 400;
}

@keyframes flashIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .mobile-hide {
    display: none !important;
  }
  .headerWrapper {
    padding: 10px 20px;
  }

  .mainFlagImage {
    width: 35px;
    height: 35px;
  }

  .logoWrapper {
    width: 35%;
  }
}

/* Home Page End */

/* Contact Page */

.content-section-contact {
  width: 50%;
  border-radius: 17.32px;
  padding: 15.16px 21.65px;
}

.content-section-contact h1 {
  font-weight: 900;
  color: #c3f8d9;
  font-size: 51.97px;
  line-height: 60px;
}

.content-section-contact p {
  margin-top: 20px;
  font-weight: 400;
  color: #ffffff;
  font-size: 34.65px;
  line-height: 40px;
  width: 90%;
}

.contactForm {
  margin-top: 100px;
  padding: 30px;
}

form.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  text-align: center;
}

.contact-form .input-field {
  border: 1px solid #ffffff66;
  width: 100%;
  border-radius: 10px;
  padding: 15px 10px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  resize: none;
}

.contact-form .input-field.error {
  border: 1px solid red;
}

.contact-form .doubleRows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.contact-form .doubleRows .relative {
  width: 100%;
}

.contact-form .input-field::placeholder {
  color: ffffff66 !important;
  opacity: 1 !important;
}

.companyInfo p {
  font-size: 20px;
  line-height: 29px;
  margin: 10px 0px;
}

.openHours {
  font-size: 20px;
}

.openHours p {
  margin-left: 30px;
}

.hero-section.contact {
  gap: 5%;
}

.hero-section.contact .image-section {
  width: 50%;
  border-radius: 17.32px;
  overflow: hidden;
}

/* Contact Page End*/

/* BreadCrumb CSS */
ol.breadCrumbWrap {
  display: flex;
  gap: 5px;
}

li.BreadCrumbTextWrap {
  display: flex;
  gap: 5px;
}

a.breadcrumbLink,
.BreadCrumbTextWrap {
  min-width: unset;
  font-size: 16px;
  font-weight: 500;
  color: white;
  transition: all 0.3s ease-in-out;
}

a.breadcrumbLink:hover {
  color: #39ff14;
}

nav.breadCrumbWrapper {
  margin-top: 50px;
  margin-bottom: 30px;
}
/* BreadCrumb CSs End */

/* Services Page CSS */

.servicePageWrapper {
  display: flex;
  gap: 2%;
}

.sideBarWrapper {
  width: 29%;
  backdrop-filter: blur(15px);
  border: 1px solid #ffffff66;
  border-radius: 17px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  gap: 20px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

.serviceContentWrapper {
  width: 71%;
}

a.sidebar-menu {
  border: 1px solid #ffffff66;
  border-radius: 10px;
  min-width: unset;
  width: 100%;
  text-align: left;
  font-size: 16px;
  padding: 15px 10px;
  font-weight: 500;
}

a.sidebar-menu.active {
  color: #39ff14;
}

.serviceContentWrapper .itemsWrapper p,
.letsBuildToghether .isContent p {
  font-size: 20px;
  font-weight: 400;
}

.bannerImage {
  border-radius: 10px;
  overflow: hidden;
}

.servicePageWrapper .industriesServeMainWrapper {
  margin-top: 50px;
}

.itemsWrapper img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}

.featuresHighlight .isContent {
  padding-top: 0;
}

.featuresHighlight .service-card-wrap {
  width: 49%;
  margin-top: 2%;
  border: 1px solid #ffffff66;
  border-radius: 10px;
}

.featuresHighlight .service-card-wrap img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.featuresHighlight .service-card-wrap .heading {
  font-size: 24px;
  font-weight: 600;
}

.featuresHighlight .service-card-wrap .description {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.webDev .itemsWrapper img {
  height: 100%;
  border-radius: 10px;
  width: 60%;
  text-align: center;
  margin: 30px auto 0 auto;
}

.webDev.industriesServeMainWrapper {
  margin-top: 0;
}

.cmsWork .service-card-wrap {
  width: 23.5%;
}

.cmsWork .heading {
  text-align: center;
}

.cmsWork .image-button-wrap {
  justify-content: center;
}

.letsBuildToghether .buttons-wrapper a {
  min-width: 308px;
}

.tab {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  margin-bottom: 20px;
}

.tab button {
  font-size: 17px;
  border: 1px solid #ffffff66;
  width: 49%;
  border-radius: 16px;
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ff000000; /* For browsers that do not support gradients */
  background-image: linear-gradient(#ffffff3d, #9999990a);
  backdrop-filter: blur(0);
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background: none;
  backdrop-filter: blur(15px);
}

/* Create an active/current tablink class */
.tab button.active {
  background: none;
  backdrop-filter: blur(15px);
}

.timelineWrapper .isContent {
  backdrop-filter: blur(0px);
  border: unset;
  padding: 0;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #ffffff66;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  position: relative;
  background-color: inherit;
  width: 46%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: -43px;
  background-color: white;
  border: 4px solid white;
  top: 47px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 54%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 40%;
  width: 0;
  z-index: 1;
  right: -10px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ffffff66;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 40%;
  width: 0;
  z-index: 1;
  left: -10px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffffff66 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -45px;
}

/* The actual content */
.timeline-content {
  padding: 10px;
  position: relative;
  border-radius: 10px;
  border: 1px solid #ffffff66;
  backdrop-filter: blur(15px);
}

.timeline h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.timeline p {
  font-size: 16px !important;
}

.isContentTimeLine {
  margin-top: 2%;
}

.last.container::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: -43px;
  background-color: white;
  border: 4px solid white;
  top: 56px;
  border-radius: 50%;
  z-index: 1;
}

.circle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 4px solid white;
  border-radius: 50%;
  z-index: 1;
}

.circle.circle-top {
  top: 0;
  left: 444px;
}

.circle.circle-bottom {
  bottom: 0;
  left: 444px;
}

.itemsWrapper1 {
  margin-top: 10px;
}

.itemsWrapper1 ul li {
  width: 49.5%;
}

.migrationIcons .service-card-wrap {
  width: 15%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.migrationIcons .heading {
  font-size: 15px !important;
}

.migrationIcons img {
  object-fit: contain;
  width: 80px;
  height: auto;
}

.cloudStorage li {
  width: 32%;
}

.whyCHooseUsWrapper.industriesServeMainWrapper p {
  font-size: 18px;
}

p.subHeadings {
  font-size: 18px;
  margin-top: 20px;
}

.industriesServeMainWrapper.ai-cta.letsBuildToghether.featuresHighlight.cmsWork
  .isContent {
  padding-top: 14px;
}

.ai-cta .heading {
  font-size: 20px !important;
}

.animatedSvg {
  margin: 0 auto;
}

.isContent.led-text {
  padding: 0;
  border: none;
}

.duoColumns {
  display: flex;
}

.headingWrapper {
  width: 100%;
  margin-bottom: 20px;
}

.headingWrapper h3 {
  font-size: 24px;
}

.contentWrapper h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.duoColumns .service-card-wrap {
  border-radius: 20px;
}

.duoColumns .heading {
  font-size: 17px !important;
}

.duoColumns .description {
  font-size: 14px !important;
  color: white;
}

.ServicesCardsContent .mainWrapper {
  width: 32%;
  border: 2px solid #ffffff66;
  display: flex;
  flex-direction: column;
  border-radius: 100px 15px 15px 15px;
  overflow: hidden;
  margin-top: 2%;
}

.ServicesCardsContent .mainWrapper .bgImage {
  width: 100%;
}

.ServicesCardsContent .mainWrapper .bgImage img {
  width: 100% !important;
  height: 250px !important;
}

.serviceContent {
  padding: 20px;
  backdrop-filter: blur(15px);
}

.serviceContent .Icon {
  width: 80px;
  height: 80px;
  margin-top: -65px;
}

.serviceContent .heading h5 {
  font-size: 22px;
  line-height: 26px;
}

.serviceContent .heading {
  width: 60%;
  margin-top: 20px;
  min-height: 55px;
}

.serviceContent .description {
  font-size: 16px;
  margin-top: 20px;
  line-height: 24px;
  min-height: 98px;
}

.mainServiceLink a {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.mainServiceLink a img {
  width: 30px;
}

.cmsWork2 .service-card-wrap {
  padding-top: 0;
  padding-bottom: 0;
  width: 15%;
}

.cmsWork2 .itemsWrapper {
  justify-content: center;
}

.cmsWork2 .isContent {
  padding-top: 0 !important;
}

.service-hero-section {
  margin-top: 100px;
  backdrop-filter: blur(15px);
  border-radius: 16px;
  border: 1px solid #ffffff66;
  padding: 30px 15px;

  background-image: url("/images/service-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.service-hero-section h1 {
  font-size: 52px;
}

.service-hero-section p {
  font-size: 28px;
  width: 98%;
}

span.\32 text-content {
  display: flex;
  justify-content: flex-start;
}

p.green-text,
p.white-text {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 35%;
}
p.green-text {
  color: #39ff14;
}
span.\32 text-content img {
  width: 20px;
}

/* Services Page CSS End */

.bounce {
  animation: bounceAnim 2s infinite;
}

@keyframes bounceAnim {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
.bounce {
  animation: bounceAnim 2s infinite;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

/* About Start */

.hero-section-about {
  backdrop-filter: blur(15px);
  border-radius: 16px;
  border: 1px solid #ffffff66;
  margin-top: 150px;
  padding: 20px;
}

.content-section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.content-wrapper-about {
  backdrop-filter: blur(15px);
  background: #00000033;
  padding: 50px 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

h1.main-heading {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #98c1a9;
  text-shadow: 1px 1px 30px black;
}

.content-wrapper-about p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.button-wrapper {
  text-align: center;
  background: #98c1a9;
  padding: 10px 30px;
  border-radius: 108px;
  font-size: 20px;
}

.content-section-about {
  background-image: url("/images/about-bg.png");
}

.coreValues .whyChooseUsCardContents {
  /* padding-top: 0px; */
  /* padding-bottom: 25px; */
}

.coreValues .service-card-wrap {
  width: 24.2%;
  margin-top: 0;
  text-align: center;
}

.coreValues .cardWrappers {
  gap: 1%;
}

.coreValues .heading {
  font-size: 30px;
  font-weight: 600;
  color: #98c1a9;
}

.coreValues .description {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.missionVission {
  display: flex;
  gap: 2%;
}

/* About End */

.review-container {
  position: relative;
  height: 200px;
  width: 100%;
  margin: auto;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review {
  position: absolute;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  opacity: 0;
  transform: translateY(300px);
  animation: slideUp 10s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}

.about .content {
  text-align: center;
  color: #98c1a9;
  font-size: 50px !important;
  font-weight: 600 !important;
}

.careerOp .cardWrappers {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.jobMainWrap {
  border: 1px solid #ffffff66;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(15px);
}

.titleWrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

p.titleText {
  font-size: 32px;
  font-weight: 500;
}

p.exp {
  font-size: 24px;
  font-weight: 400;
}

.titleWrap .icon img {
  width: 40px;
  height: 40px;
}

p.location {
  font-size: 20px;
  font-weight: 400;
}

.buttonWrap {
  background: green;
}

.careerOp .buttons-wrapper {
  margin: 0;
}

/* .custom-white {
  background-color: #fff !important;
} */

.lineglow {
  position: relative;
  width: 10px;
  height: 100%;
  background: #b1aeae;
}
.lineglow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-basic);
  animation: animate 8s linear infinite;
  transform-origin: left;
}

@keyframes animate {
  0%,
  20% {
    transform: scaleY(0);
  }
  40% {
    transform: scaleY(1);
    transform-origin: left;
  }
  40.0001%,
  60% {
    transform: scaleY(1);
    transform-origin: right;
  }
  80%,
  100% {
    transform: scaleY(0);
    transform-origin: right;
  }
}

/* .lineglow::after {
  content: "";
  position: absolute;
  top: 0%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-basic);
  animation: animateDot 8s linear infinite;
  transform: translateY(0%) scale(0);
} */

@keyframes animateDot {
  0% {
    transform: translateY(-100%) scale(0);
  }
  5% {
    transform: translateY(-100%) scale(1);
  }
  15%,
  20% {
    transform: translateY(-100%) scale(1);
    box-shadow: 0 0 0 4px var(--color-second), 0 0 0 10px var(--color-second),
      0 0 20px var(--color-basic), 0 0 40px 5px var(--color-basic),
      0 0 60px 10px var(--color-basic);
  }
  40% {
    transform: translateY(-100%) translateY(315px) scale(1);
  }
  80% {
    transform: translateY(-100%) translateY(315px) scale(1);
    box-shadow: 0 0 0 4px var(--color-second), 0 0 0 10px var(--color-second),
      0 0 20px var(--color-basic), 0 0 40px 5px var(--color-basic),
      0 0 60px 10px var(--color-basic);
  }
  95% {
    transform: translateY(-100%) translateY(315px) scale(1);
    box-shadow: none;
  }
  100% {
    transform: translateY(-100%) translateY(315px) scale(0);
    box-shadow: none;
  }
}

.customStickyHeader {
  /* background-color: white !important; */
  backdrop-filter: blur(15px);
  background-color: rgb(0 0 0 / 42%) !important;
}
